@{
	ViewData["Title"] = "AboutUs";
}
<br>
<html>
<head>
	<title>За нас - HomeBuild</title>
	<style>

		.about-us-container {
			display: flex;
			align-items: center;
		}

		.about-us-image {
			flex: 0 0 60%;
			margin-right: 5%;
		}

		.about-us-content {
			flex: 0 0 35%;
		}

		.about-us-image {
			width: 100%;
			max-width: 600px;
			height: 475px;
			object-fit: cover;
		}

		.about-us-title {
			text-align: center;
			margin-top: 0;
		}

		.about-us-description {
			margin-top: 20px;
			font-size: 18px;
		}

	</style>
</head>
<body>
	<h2 class="about-us-title  text-center">Добре дошли в строителния ни свят!</h2>
	<br>
	<div class="about-us-container">
		<div class="about-us-image">
			<img class="about-us-image" src="~/images/aboutus.jpg">
		</div>
		<div class="about-us-content">
			<p class="about-us-description">Ние сме строителни майстори, създаващи уникални и иновативни решения за вашите строителни проекти.
				Нашата страст е да създаваме пространства, които да отразяват вашите идеи и желания. С богат опит и експертиза, ние предлагаме разнообразие от строителни материали и услуги, които да отговорят на вашите нужди.Нашата мисия е да сме ваш надежден партньор във всички фази на вашите строителни проекти, от планирането до завършването. Съчетавайки качествени продукти, професионално обслужване и конкурентни цени, ние се стремим да предоставим на нашите клиенти най-доброто в строителната индустрия.</p>
			<br>
			<p class="about-us-contact">Свържете се с нас за повече информация или въпроси:</p>
			<p class="text-black">Телефон: +359 123 456 789</p>
			<p class="text-black">Email: homebuild@gmail.com</p>
			<p class="text-black">Адрес на офиса: ул. Примерна 12, гр. София, България</p>
		</div>
	</div>
</body>
</html>

