@model HomeBuild.ViewModel.AccountsVM.RegisterVM
@{
    ViewData["Title"] = "Register";
}
<br></br>
<div class="register-wrapper">
    <div class="register-container">
        <div class="register-card">
            <h2 class="text-center">Създаване на акаунт</h2>
            <form asp-action="Register" method="post" class="register-form">
                <div class="form-group">
                    <input asp-for="Username" type="text" id="form3Example1cg" placeholder="Потребителско име" class="form-control" />
                    <span asp-validation-for="Username" class="error-message"></span>
                    @if (TempData["errUser"] != null && TempData["user"].ToString() == "user")
                    {
                        <span class="text-danger">@TempData["errUser"]</span>
                    }
                </div>

                <div class="form-group">
                    <input asp-for="Email" type="email" id="form3Example3cg" placeholder="Имейл" class="form-control" />
                    <span asp-validation-for="Email" class="error-message"></span>
                    @if (TempData["errEmail"] != null && TempData["email"].ToString() == "email")
                    {
                        <span class="text-danger">@TempData["errEmail"]</span>
                    }
                </div>

                <div class="form-group">
                    <input asp-for="Password" type="password" id="form3Example4cg" placeholder="Парола" class="form-control" />
                    <span asp-validation-for="Password" class="error-message"></span>
                    @if (TempData["errPass"] != null && TempData["pass"].ToString() == "pass")
                    {
                        <span class="text-danger">@TempData["errPass"]</span>
                    }
                </div>

                <div class="submit-btn-container">
                    <button type="submit" class="submit-btn">Регистриране</button>
                </div>

                <p class="text-center">
                    Вече имате акаунт? <a href="~/Accounts/LogIn" class="login-link">Влезте от тук</a>
                </p>
            </form>
        </div>
    </div>
</div>
