@model HomeBuild.ViewModel.StocksVM.StocksCRUD
@{
    ViewData["Title"] = "Checkout";
}

<div class="container">
    <h1 class="text-center mb-4">Платежна информация</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="@Url.Action("Checkout", "ShoppingCart")" onsubmit="return showSuccessMessage()">
                        <div class="form-group">
                            <input type="text" placeholder="Номер на картата" id="cardNumber" name="cardNumber" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Дата на Изтичане" id="expiryDate" name="expiryDate" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Име на притежателя на картата" id="cardHolderName" name="cardHolderName" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Град" id="city" name="city" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Адрес" id="city" name="adress" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <input placeholder ="Зип Код" type="text" id="zipCode" name="zipCode" class="form-control" required />
                        </div>
                        <a style="color:white" type="submit" class="btn btn-primary" asp-controller="ShoppingCart" asp-action="PurchasesHistory">Заплащане</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showSuccessMessage() {
        alert("You have successfully purchased from our store.");
        $("form input").val("");
        return false;
    }
</script>